<ion-header>
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Grabacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateRecordingForm" (submit)="updateRecording()">
    <ion-item>
      <ion-label stacked>Nombre de la Grabacion:</ion-label>
      <ion-input formControlName="nameRecording" type="text" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Tipo de melodia:</ion-label>
      <ion-input formControlName="type_of_melody" type="text" placeholder="Melodia?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Numero de cabina:</ion-label>
      <ion-input formControlName="number_of_cabins" type="text" placeholder="Cabina?"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Dueño:</ion-label>
      <ion-input formControlName="Owner" type="text" placeholder="Quien es el dueño?"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!updateRecordingForm.valid" color="blue">Guardar</ion-button>
  </form>
</ion-content>
